body {
  background-color: #6b7b6b;
  font-family: "Press Start 2P";
  background-image: url(/images/pokemon_title.png);
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
}
#liens {
  font-size: 3em;
  text-align: center;
}
img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
nav a {
  font-size: 2em;
  text-align: center;
  padding-bottom: 50px;
}
.gauche {
  margin-bottom: 100px;
}
