/*PAGE4 HTML*/
body {
  background-image: url(../images/minimalist-background-green.png);
  background-color: #1dbb52;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Press Start 2P";
}
h2 {
  display: table;
  margin: 3em auto;
  font-size: 15px;
  text-align: center;
  padding: 20px 40px;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
#Avis {
  font-size: 10px;
  margin: auto;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 25px;
  border: 1px solid #fff;
  font-size: 18px;
  text-align: center;
}
