/*PAGE INDEX HTML*/
body {
  background-color: #6b7b6b;
  font-family: "Press Start 2P";
  background-image: url(../images/minimalist-background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#liens {
  font-size: 3em;
  text-align: center;
}
img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.gauche {
  margin-bottom: 100px;
}

nav {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  padding-left: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

nav a {
  font-family: "Press Start 2P";
  font-size: 0.65em;
  text-align: center;
  padding: 12px 25px;
  margin: 0 8px;
  color: #3D3D3D;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  transition: all 0.2s ease;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.6);
  transform: translateY(-3px);
}

h1 {
  margin-top: 1em;
  text-align: center;
}

h2 {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
