/*PAGE1 HTML*/
body {
  background-color: #3c3c3c;
}
h1 {
  font-family: "Press Start 2P";
  font-size: 22px;
  text-align: center;
  margin: 1em;
}
table {
  font-family: "Press Start 2P";
  font-size: 10px;
  border-collapse: collapse;
  width: 100%;
  color: white;
  margin: 50px auto;
}

th,
td {
  border: 2.5px solid #1b1b1b;
  padding: 30px 30px;
  text-align: left;
}

th {
  background-color: #3c3c3c;
}
nav {
  text-align: left;
  color: white;
  background-color: white;
}
