/*PAGE4 HTML*/
body {
  background-image: url(../images/minimalist-background-green.png);
  background-color: #1dbb52;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Press Start 2P";
}
nav {
  text-align: left;
  color: black;
  transform: translateY(-50%);
  padding-top: 5em;
}
nav a {
  font-size: 0.7em;
  padding: 20px 40px;
  margin: 6px;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #fff;
  display: inline-block;
  transition: all 0.3s ease;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-shadow: none;
}
h2 {
  display: table;
  margin: 3em auto;
  font-size: 15px;
  text-align: center;
  padding: 20px 40px;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid #fff; 
}
#Avis {
  font-size: 10px;
  margin: auto;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 25px;
  border: 1px solid #fff; 
  font-size: 18px;
  text-align: center;
}
