body {
  background-image: url(../images/558546.jpg);
  background-color: #288887;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Press Start 2P";
}
#Avis {
  font-size: 10px;
  margin: auto;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 5px;
  background-color: #288887;
  width: 50px;
  height: 25px;
  border: 1px white solid;
  font-size: 18px;
  text-align: center;
}
nav {
  text-align: left;
}
h2 {
  margin: 30px auto;
  font-size: 17px;
  display: block;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid white;
  width: fit-content;
  background-color: #d9e7ec50;
}
