body {
  background-image: url(../images/background-ciel1.jpg);
  text-align: center;
  font-family: "Press Start 2P";
}
.correct {
  background-color: #c8e6c9;
}
.wrong {
  background-color: #ffcdd2;
}
label {
  font-size: 10px;
  margin: auto;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 5px;
  background-color: #8bd5ee;
  width: 200px;
  border: 1px white solid;
}
img {
  height: 15em;
}
button {
  margin: auto;
  border-radius: 15px;
  width: 10em;
  height: 3em;
  border: 1px solid black;
  background-color: #8bd5ee;
  font-family: "Press Start 2P";
}
#score {
  font-size: 1em;
  text-align: center;
}
h2 {
  margin: 30px auto;
  font-size: 17px;
  display: block;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid white;
  width: 70em;
}
nav {
  text-align: left;
  font-size: 10px;
}
