/*PAGE3 HTML*/
body {
  background-image: url(../images/558546.jpg);
  background-color: #288887;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Press Start 2P";
}
nav {
  text-align: left;
  color: black;
  transform: translateY(-50%);
  padding-top: 5em;
}
nav a {
  font-size: 0.7em;
  padding: 20px 40px;
  margin: 6px;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #fff;
  display: inline-block;
  transition: all 0.3s ease;
}
nav a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-shadow: none;
}
h2 {
  display: table;
  margin: 3em auto;
  font-size: 17px;
  text-align: center;
  padding: 20px 40px;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid #fff; 
}
label {
  margin: 3em auto;
  font-size: 10px;
  text-align: center;
  padding: 20px 40px;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff; 
}
img {
  height: 15em;
  margin: 1em;
}
button {
  margin: auto;
  border-radius: 15px;
  width: 10em;
  height: 3em;
  border: 1px solid black;
  background-color: #226867;
  font-family: "Press Start 2P";
}
#score {
  font-size: 1em;
  text-align: center;
}
.correct {
  background-color: #c8e6c9;
}
.wrong {
  background-color: #ffcdd2;
}