/*PAGE3 HTML*/
body {
  background-image: url(../images/558546.jpg);
  background-color: #288887;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Press Start 2P";
}
h2 {
  display: table;
  margin: 3em auto;
  font-size: 17px;
  text-align: center;
  padding: 20px 40px;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid #fff; 
}
label {
  margin: 3em auto;
  font-size: 10px;
  text-align: center;
  padding: 20px 40px;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff; 
}
img {
  height: 15em;
  margin: 1em;
}
button {
  margin: auto;
  border-radius: 15px;
  width: 10em;
  height: 3em;
  border: 1px solid black;
  background-color: #226867;
  font-family: "Press Start 2P";
}
#score {
  font-size: 1em;
  text-align: center;
}
.correct {
  background-color: #c8e6c9;
}
.wrong {
  background-color: #ffcdd2;
}
